body{
    background-color: black;
}
.loadingscreen{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    background-color: black;

}
.slidebarcontainer{
    height: 100vh;
    position: fixed;
    left: -250px;
    top: 0;
    z-index: 99999;
    
}
.slidebar{
    height: 100vh;
    width: fit-content;
}
.slidebar .logo img{
    width: 50px;
}
.slidepart{
    width: 250px;
    color: white;
    height: 100%;
    background-color: black;
    
}

.slidepart-links a{
    color: white;
    text-decoration: none;
    display: none;
}
.content{
    padding-left: 70px;
     margin-top: 50px;
}
.catigoryitem{
    overflow: hidden;
}
.item{
    width: 100%;
    position: relative;
    overflow: hidden; 
    transition: all 0.5s;
}

.imgcaption{
    background-color: rgba(234,231,226, 0.57);
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    height: 100%;
    transition: all 0.5s;

}
.catigoryitem:hover .imgcaption{
    top:0;
}

.search-form::placeholder{
    color: gray;
}

